<div class="modal" tabindex="-1" role="dialog" id="@DialogId">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@((MarkupString)BodyMessage)</p>
            </div>
            <div class="modal-footer">
              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@code {
    
    [Parameter]
    public string DialogId { get; set; } = "Dialog1";

    [Parameter]
    public string BodyMessage { get; set; } = "...";
    [Parameter]
    public string Title { get; set; } = "INFO";
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}