<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GatewayIDs" value="gateway-001"></add>
		<add key="MqttHost" value="broker.emqx.io"></add>
		<add key="MqttUser" value="loradev_mqtt"/>
		<add key="MqttPass" value="test123"/>
		<add key="DataTopic" value="aqua/data"/>
		<add key="ControlTopic" value="aqua/control"/>
		<add key="Delay" value="1000"/>
		<add key="IPModbusDevice" value="192.168.1.43"/>
	</appSettings>
</configuration>