@layout NoAuthLayout
@using AquaCulture.Web.Data
@using AquaCulture.Tools
@page "/auth/forgot-password"


@inject IToastService toastService

<div class="col-md-7 text-center mr-lg-5 mb-5">
    <img src="assets/img/homebg.png" alt="home" class="img-fluid">
</div>
<div class="col-md-3 text-left">
    <h6>Lupa Password</h6>
    <div class="mt-4">
        <div class="form-group">
            <input @bind="Email" type="email" class="form-control" id="txtEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <input @bind="Phone" type="text" class="form-control" id="txtHandphone" placeholder="No Hp">
        </div>
        <button @onclick="KirimPassword" class="btn btn-primary btn-block btn-lg">Kirim Password</button>
        <button type="button" class="btn btn-info btn-block btn-lg" onclick="fw_open('/auth/login')">Kembali ke Login</button>
    </div>
</div>

@code {
    public string Phone { get; set; }
    public string Email { get; set; }

    async Task KirimPassword()
    {
        UserProfileService svc = new UserProfileService();
        var enc = new Encryption();
        string Error = string.Empty;

        if (string.IsNullOrEmpty(Email) && string.IsNullOrEmpty(Phone))
        {
            toastService.ShowError("Email atau no hp harus di isi.");
            return;
        }
        if (!string.IsNullOrEmpty(Email))
        {
            var item = svc.GetItemByEmail(Email);
            if (item != null)
            {
                var pass = enc.Decrypt(item.Password);
                await MailService.PostmarkSendEmail("Portal-UB - Forget Password", $"Password Anda adalah {pass}", Email, false);
                toastService.ShowSuccess("Info password sudah di kirim ke email Anda");
            }
            else
            {
                toastService.ShowError("Email tidak terdaftar.");
            }
        }

        if (!string.IsNullOrEmpty(Phone))
        {
            var item = svc.GetItemByPhone(Phone);
            if (item != null)
            {
                var pass = enc.Decrypt(item.Password);

                await SmsService.SendSms($"[Portal-UB] -> Password Anda adalah {pass}", item.Phone);
                toastService.ShowSuccess("Info password sudah di kirim ke hp Anda");
            }
            else
            {
                toastService.ShowError("No HP tidak terdaftar.");
            }
        }
    }
}
